@charset "UTF-8";

@font-face {
    font-family: 'SUITE-Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ClimateCrisisKR-1979';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

#localLens {
  font-family: ClimateCrisisKR-1979;
  font-size: 36px;
  color: #7bc46e;
  /* color: #a3de9b; */
  /* text-shadow: 0px 0px 10px gray; */
  /* color: white; */
  /* -webkit-text-stroke: 1px black; */
}

.header-link {
  font-size: 24px;
  margin-right: 25px;
}

.header-link-small {
  font-family: 'Pretendard-Light';
  /* font-size: 16px; */
  font-size: 14px;
  margin-left: 20px;
}

header .container a {
  text-decoration: none;
  color: black;
}
header .container a:hover {
  text-decoration: none;
  color: black;
}

#today, #forYou {
	font-family: SUIT-Regular;
}

#today {
	letter-spacing: 2px;
}

#forYou {
	letter-spacing: 0px;
}

#divisionLine, #forYou {
	color: gray;
}

.dropdown:hover .dropdown-menu {
        display: block;
}

.dropdown-menu {
	font-family: 'Pretendard-Light';
  	font-size: 14px;
	min-width: 10px;
}