@charset "UTF-8";

@font-face {
    font-family: 'SUITE-Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

#localLens {
  font-family: SUITE-Heavy;
  font-size: 36px;
}

.header-link {
  font-size: 24px;
  margin-right: 25px;
}

.header-link-small {
  font-family: 'Pretendard-Light';
  font-size: 16px;
  margin-left: 20px;
}

header .container a {
  text-decoration: none;
  color: black;
}
header .container a:hover {
  text-decoration: none;
  color: black;
}

#today, #forYou {
	font-family: SUITE-Heavy;
}

.dropdown:hover .dropdown-menu {
        display: block;
}

.dropdown-menu {
	font-family: 'Pretendard-Light';
  	font-size: 16px;
}

.navbar .navbar-nav .dropdown .dropdown-menu {
    min-width: 150px; /* Adjust the width as needed */
    font-size: 0.8rem; /* Adjust the font size as needed */
}

.navbar .navbar-nav .dropdown .dropdown-item {
    padding: 5px 10px; /* Adjust the padding as needed */
}
#account .dropdown-menu {
    min-width: 80px; /* Reduces the width of the dropdown menu */
    font-size: 0.8rem; /* Smaller font size for the dropdown items */
}

/* Reduce padding for dropdown items */
#account .dropdown-item {
    padding: 5px 10px; /* Adjust padding for dropdown items */
}