@charset "UTF-8";
#navbar {
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}

.fa-solid, .fa-regular {
    color: black;
    transition: color 0.15s;
}

nav .container a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    display: inline-flex; 
    align-items: center;
}

nav .container a span {
    transition: border-bottom 0.3s;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
}

nav .container a:hover,
nav .container a:hover .fa-solid,
nav .container a:hover .fa-regular {
    color: #7bc46e;
}

nav .container a:hover span {
    border-bottom-color: #7bc46e;
}

.nav-item .fa {
    margin-right: 5px;
}

.nav-item.active .fa,
.nav-item.active span,
.nav-item:hover .fa,
.nav-item:hover span {
    color: #7bc46e;
}